<div class="bg-relacje-color-dark relative z-10">
    <section class="relacje-block overflow-hidden">
        <div class="container mx-auto relative">
            {# dwie "klatki" na tą samą treść - różnią się z-index i text-stroke #}
            <div class="relacje-portfolio relative w-full bg-relacje-color-dark">
                <div class="relative h-[550px] lg:h-[900px] w-full">
                    <div class="text-under absolute bottom-[100px] lg:bottom-[150px] left-[0px] w-full lg:z-[1] z-[3]">
                        <h1 class="filled-text mb-8">WordCamp Gdynia</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="text-below absolute bottom-[100px] lg:bottom-[150px] left-[0px] w-full hidden lg:block z-[3]">
                        <h1 class="outline-text mb-8 mix-blend-screen">WordCamp Gdynia</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <img class="image absolute top-[50px] lg:top-[100px] left-[20%] lg:left-[40%] z-[2] object-cover h-[450px] w-[700px] lg:h-[700px] rounded-tr-3xl shadow-2xl shadow-relacje-shadow"
                    src="{{ theme.link }}/dist/images/hero-home-image.jpg">
            </div>

            {# dwie "klatki" na tą samą treść - różnią się z-index i text-stroke #}
            {#
            <div class="relacje-portfolio sticky relative w-full bg-relacje-color-dark">
                <div class="relative h-[550px] lg:h-[800px] w-full">
                    <div class="text-under absolute bottom-[100px] left-[0px] w-full lg:z-[1] z-[3]">
                        <h1 class="filled-text mb-8">Lorem ipsum dolor</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="text-below absolute bottom-[100px] left-[0px] w-full hidden lg:block z-[3]">
                        <h1 class="outline-text mb-8 mix-blend-screen">Lorem ipsum dolor</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <img class="image absolute top-[50px] lg:top-[50px] left-[20%] lg:left-[40%] z-[2] object-cover h-[450px] w-[700px] lg:h-[700px] rounded-tr-3xl shadow-2xl shadow-relacje-shadow"
                    src="{{ theme.link }}/dist/images/hero-home-image.jpg">
            </div>
            #}

            {# dwie "klatki" na tą samą treść - różnią się z-index i text-stroke #}
            {#
            <div class="relacje-portfolio sticky relative w-full bg-relacje-color-dark">
                <div class="relative h-[550px] lg:h-[800px] w-full">
                    <div class="text-under absolute bottom-[100px] left-[0px] w-full lg:z-[1] z-[3]">
                        <h1 class="filled-text mb-8">Ipsum lorem ipsum dolor</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="text-below absolute bottom-[100px] left-[0px] w-full hidden lg:block z-[3]">
                        <h1 class="outline-text mb-8 mix-blend-screen">Ipsum lorem ipsum dolor</h1>
                        <div
                            class="prose leading-normal max-w-[425px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                            <p>
                                Integer cursus mi nam nascetur fringilla est interdum pulvinar lectus.
                            </p>
                        </div>
                        <div>
                            <a href=""
                                class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                                Zobacz realizację
                                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent"
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <img class="image absolute top-[50px] left-[20%] lg:left-[40%] z-[2] object-cover h-[450px] w-[700px] lg:h-[700px] rounded-tr-3xl shadow-2xl shadow-relacje-shadow"
                    src="{{ theme.link }}/dist/images/hero-home-image.jpg">
            </div>
            #}
        </div>
    </section>
</div>