<section class="glide relacje-block delayed-scroll mb-28 lg:mb-36 pt-0 pb-0 bg-white relative z-20">
    <div id="glide-reviews" class="glide__track" data-glide-el="track">
        <div class="container mx-auto relative px-8 grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-24 items-end lg:gap-12">
            <div class="">
                <div class="mb-8 lg:mb-12">
                    <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
                        class="object-cover block h-[350px] w-full lg:h-[650px] rounded-br-3xl shadow-2xl shadow-relacje-shadow">
                </div>
    
                <div class="arrows relative z-10 flex flex-row gap-x-8">
                    <button class="group glide__arrow glide__arrow--left" data-glide-dir="<">
                        <svg width="82" height="16" viewBox="0 0 82 16" fill="none"
                            class="fill-relacje-color-dark group-hover:fill-relacje-color-accent"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6.65685 15.0711L0.292889 8.70717C-0.0976367 8.31664 -0.0976368 7.68348 0.292889 7.29295L6.65685 0.928992C7.04737 0.538468 7.68054 0.538468 8.07106 0.928992C8.46159 1.31952 8.46159 1.95268 8.07106 2.34321L3.41421 7.00006L81 7.00005C81.5523 7.00005 82 7.44777 82 8.00005C82 8.55234 81.5523 9.00005 81 9.00005L3.41421 9.00006L8.07106 13.6569C8.46159 14.0474 8.46159 14.6806 8.07106 15.0711C7.68054 15.4617 7.04738 15.4617 6.65685 15.0711Z" />
                        </svg>
                    </button>
    
                    <button class="group glide__arrow glide__arrow--right" data-glide-dir=">">
                        <svg width="82" height="16" viewBox="0 0 82 16" fill="none"
                            class="fill-relacje-color-dark group-hover:fill-relacje-color-accent"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M75.3432 0.92888L81.7071 7.29284C82.0976 7.68336 82.0976 8.31653 81.7071 8.70705L75.3432 15.071C74.9526 15.4615 74.3195 15.4615 73.9289 15.071C73.5384 14.6805 73.5384 14.0473 73.9289 13.6568L78.5858 8.99995L1 8.99995C0.447715 8.99995 0 8.55223 0 7.99995C0 7.44766 0.447715 6.99995 1 6.99995L78.5858 6.99995L73.9289 2.34309C73.5384 1.95257 73.5384 1.3194 73.9289 0.92888C74.3195 0.538355 74.9526 0.538355 75.3432 0.92888Z" />
                        </svg>
                    </button>
                </div>
            </div>
    
            <div>
                <h3 class="mb-8 lg:mb-12">Anna Brzęczyszczykiewicz</h3>
                <div class="mb-8 lg:mb-12">
                    <div class="block w-[2px] h-[40px] lg:h-[80px] bg-relacje-color-dark/5 relative rounded-full">
                        <small class="inline-block absolute top-0 left-0 w-full h-1/3 bg-relacje-color-accent"></small>
                    </div>
                </div>
                <div
                    class="max-w-[495px] prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 mb-8 lg:mb-12 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                    <p>
                        Viverra sit sollicitudin enim sapien elementum facilisis dolor. Urna id arcu proin dapibus eget
                        nulla. Metus suspendisse feugiat ipsum at quis amet. Faucibus scelerisque massa posuere tristique
                        tellus at libero phasellus.
                    </p>
                </div>
                <a href="" class="relacje-button group bg-relacje-color-dark text-white">
                    Więcej o nas
                    <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white"
                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>