<article class="relative delayed-scroll px-8 mb-14 lg:mb-36">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-14 lg:items-end lg:h-[800px]">
        <div class="order-2 lg:order-1 lg:max-w-[530px]">
            <h1 class="text-[24px] md:text-[40px] lg:[60px] font-relacje-font-heading leading-snug mb-8 lg:mb-12">
                Varius iaculis nibh sed malesuada facilisis nisi enim.
            </h1>
            <div
                class="prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 prose-ul:list-image-checkmark prose-li:ps-[20px] mb-8 lg:mb-12">
                <p>
                    Vestibulum egestas rutrum faucibus mi sed vulputate neque bibendum. Viverra sit sollicitudin enim
                    sapien elementum facilisis dolor. Urna id arcu proin dapibus eget nulla. Metus suspendisse feugiat
                    ipsum at quis amet. Faucibus scelerisque massa posuere tristique tellus at libero phasellus.
                </p>
            </div>
            <div class="flex gap-4 flex-row items-center">
                <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
        class="object-cover size-14 rounded-full">
                <span class="font-bold">Marcin Andrzejewski</span>
            </div>
        </div>

        <div class="lg:hidden order-1 lg:order-2">
            <a href="">
                <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
                    class="object-cover h-[400px] w-full">
            </a>
        </div>
    </div>

    <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
        class="object-cover h-[250px] lg:h-[800px] w-full lg:w-[48%] absolute bottom-0 right-0 hidden lg:block">
</article>