<section class="relacje-block mb-28 lg:mb-36 bg-white relative z-20">
    <div class="bg-relacje-color-dark grid grid-cols-1 md:grid-cols-[500px_auto] lg:grid-cols-[700px_auto] gap-0">
        <div class="p-8 py-12 md:p-20 lg:p-24 lg:pb-[200px] md:pb-[120px]">
            <h2 class="text-white mb-8 lg:mb-12">
                Wideo bez limitu<span class="text-relacje-color-accent">.</span>
            </h2>
            <div
                class="prose leading-normal max-w-[495px] prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 lg:mb-12 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                <p><strong>Wybierz jeden z najpopularniejszych pakietów naszych usług lub sprawdź czy potrzebujesz rozszerzone plany współpracy z nami.</strong></p>
                <p>
                    Rozliczenie miesięczne przy kontrakcie rocznym. Koszty pod kontrolą.
                </p>
            </div>

            <a href="" class="relacje-button button-link group text-white hover:text-relacje-color-accent">
                Zobacz rozszerzony cennik
                <svg class="absolute right-5 top-2/4 -mt-[9px] fill-white group-hover:fill-relacje-color-accent" xmlns="http://www.w3.org/2000/svg" width="18"
                    height="18" viewBox="0 0 18 18" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                </svg>
            </a>
        </div>
        <div class="bg-no-repeat bg-cover bg-center lg:pb-24" style="background-image: url('{{ theme.link }}/dist/images/hero-home-image.jpg');">
        </div>
    </div>

    <div class="container mx-auto grid grid-col-1 md:grid-cols-2 lg:grid-cols-4 content-end relative lg:-mt-[140px] md:-mt-[70px] delayed-scroll">
        <div class="price-column grid grid-cols-1 content-end bg-white p-8 lg:px-10 lg:py-12 transition-all delay-150 duration-200 hover:lg:shadow-relacje-shadow relative hover:z-10">
            <h4 class="lg:text-4xl text-2xl font-relacje-font-text mb-8">1499 zł</h4>

            <h4 class="mb-6">Ignite</h4>
            <div class="prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 mb-8 lg:mb-10 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                <p>For most businesses that want to otpimize web queries</p>
                <ul class="points list-none not-prose">
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            All limited links
                        </p>
                    </li>

                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Own analytics platform
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Chat support
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Optimize hashtags
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Unlimited users
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <a href="" class="relacje-button group bg-relacje-color-dark text-white not-prose">
                    Wybierz pakiet
                    <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 18 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="price-column grid grid-cols-1 content-end bg-white p-8 lg:px-10 lg:py-12 transition-all delay-150 duration-200 hover:lg:shadow-relacje-shadow relative hover:z-10">
            <h4 class="lg:text-4xl text-2xl font-relacje-font-text mb-8">3399 zł</h4>

            <h4 class="mb-6">StartUp</h4>
            <div class="prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 mb-8 lg:mb-10 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                <p>For most businesses that want to otpimize web queries</p>
                <ul class="points list-none not-prose">
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            All limited links
                        </p>
                    </li>

                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Own analytics platform
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Chat support
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Optimize hashtags
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Unlimited users
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <a href="" class="relacje-button group bg-relacje-color-dark text-white not-prose">
                    Wybierz pakiet
                    <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 18 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="price-column grid grid-cols-1 content-end bg-relacje-color-dark p-8 pt-20 lg:px-10 lg:py-12 transition-all delay-150 duration-200 hover:lg:shadow-relacje-shadow relative hover:z-10 before:hidden before:lg:block before:bg-relacje-color-dark before:absolute before:-top-[100px] before:left-0 before:h-[100px] before:rounded-tr-3xl before:w-full z-10 after:content-['popularny'] after:absolute after:top-0 after:lg:-top-[100px] after:left-0 after:px-5 after:py-3 after:text-relacje-color-dark after:font-bold after:tracking-[2px] after:bg-white">
            <h4 class="lg:text-4xl text-2xl font-relacje-font-text mb-8 text-white">6799 zł</h4>

            <h4 class="mb-6 text-white">Organization</h4>
            <div class="prose leading-normal prose-lg prose-p:text-white/70 prose-heading:text-white/70 prose-strong:text-white/70 mb-8 lg:mb-10 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                <p>For most businesses that want to otpimize web queries</p>
                <ul class="points list-none not-prose text-white/70">
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-white/15 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            All limited links
                        </p>
                    </li>

                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-white/15 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Own analytics platform
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-white/15 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Chat support
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-white/15 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Optimize hashtags
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-white/15 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Unlimited users
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <a href="" class="relacje-button group bg-white text-relacje-color-dark not-prose">
                    Wybierz pakiet
                    <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 18 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="price-column grid grid-cols-1 content-end bg-white p-8 lg:px-10 lg:py-12 transition-all delay-150 duration-200 hover:lg:shadow-relacje-shadow relative hover:z-10">
            <h4 class="lg:text-4xl text-2xl font-relacje-font-text mb-8">10999 zł</h4>

            <h4 class="mb-6">Corporation</h4>
            <div class="prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 mb-8 lg:mb-10 prose-ul:list-image-checkmark prose-li:ps-[20px]">
                <p>For most businesses that want to otpimize web queries</p>
                <ul class="points list-none not-prose">
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            All limited links
                        </p>
                    </li>

                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Own analytics platform
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Chat support
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Optimize hashtags
                        </p>
                    </li>
                    <li class="grid grid-cols-[30px_auto] gap-4 content-center mb-3">
                        <span class="rounded-full bg-relacje-color-dark/5 w-[23px] h-[23px] relative">
                            <svg class="fill-relacje-color-accent absolute top-[6px] left-[4px]" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.8307 2.21996L7.27089 11.1219C7.11444 11.3295 6.88116 11.4655 6.62346 11.4994C6.36576 11.5332 6.10525 11.4622 5.90047 11.3021L1.21614 7.55692C0.802774 7.22613 0.735841 6.62287 1.06664 6.20951C1.39743 5.79614 2.00069 5.72921 2.41405 6.06001L6.32022 9.18513L12.2878 1.08626C12.4834 0.792613 12.8247 0.630264 13.176 0.663667C13.5272 0.69707 13.8318 0.920819 13.9686 1.24608C14.1054 1.57134 14.0524 1.94548 13.8307 2.21996Z"/>
                            </svg>
                        </span>
                        <p>
                            Unlimited users
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <a href="" class="relacje-button group bg-relacje-color-dark text-white not-prose">
                    Wybierz pakiet
                    <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="18"
                        height="18" viewBox="0 0 18 18" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>