<article class="relative delayed-scroll px-8 mb-14 lg:mb-36">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-14 lg:items-end lg:h-[800px]">
        <div class="order-2 lg:order-1 lg:max-w-[530px]">
            <h2 class="text-[24px] md:text-[40px] lg:[60px] font-relacje-font-heading leading-snug mb-8 lg:mb-12">
                <a href=""
                    class="transition-all delay-150 duration-200 text-relacje-color-dark hover:text-relacje-color-accent">
                    Varius iaculis nibh sed malesuada facilisis nisi enim.
                </a>
            </h2>
            <div
                class="prose leading-normal prose-lg prose-p:text-relacje-color-dark/70 prose-heading:text-relacje-color-dark/70 prose-strong:text-relacje-color-dark/70 prose-ul:list-image-checkmark prose-li:ps-[20px] mb-8 lg:mb-12">
                <p>
                    Vestibulum egestas rutrum faucibus mi sed vulputate neque bibendum. Viverra sit sollicitudin enim
                    sapien elementum facilisis dolor. Urna id arcu proin dapibus eget nulla. Metus suspendisse feugiat
                    ipsum at quis amet. Faucibus scelerisque massa posuere tristique tellus at libero phasellus.
                </p>
            </div>
            <a href="" class="relacje-button group bg-relacje-color-dark text-white">
                Czytaj dalej
                <svg class="absolute right-5 top-2/4 -mt-[9px] group-hover:fill-white"
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.1225 8.46728L7.94249 5.28728C7.80166 5.14529 7.60997 5.06543 7.40999 5.06543C7.21001 5.06543 7.01831 5.14529 6.87749 5.28728C6.5867 5.57981 6.5867 6.05225 6.87749 6.34478L9.53249 8.99978L6.87749 11.6548C6.5867 11.9473 6.5867 12.4198 6.87749 12.7123C7.01903 12.8527 7.21064 12.9309 7.40999 12.9298C7.60934 12.9309 7.80095 12.8527 7.94249 12.7123L11.1225 9.53228C11.2645 9.39145 11.3443 9.19976 11.3443 8.99978C11.3443 8.7998 11.2645 8.6081 11.1225 8.46728Z" />
                </svg>
            </a>
        </div>

        <div class="lg:hidden order-1 lg:order-2">
            <a href="">
                <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
                    class="object-cover h-[400px] w-full">
            </a>
        </div>
    </div>

    <img src="{{ theme.link }}/dist/images/hero-home-image.jpg" alt=""
        class="object-cover h-[250px] lg:h-[800px] w-full lg:w-[48%] absolute bottom-0 right-0 hidden lg:block">
</article>